@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

/* base rules: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-bg: #f1f5f8;
  --white-color: #fff;
  --black-color: #444;
  --main-color: #00a19d;
  --paragraph-color: hsl(210, 22%, 49%);
  --transition: all 0.5s ease-in-out;
  --radius: 0.5rem;
  --line-height: 1.7rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
body {
  position: relative;
  min-height: 100vh;
  background-color: var(--body-bg);
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* container part: */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  padding-top: 1.7rem;
  display: flex;
  justify-content: center;
}
.quiz {
  width: 500px;
  max-width: 100%;
  padding: 1.7rem 1.7rem;
  background-color: var(--white-color);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.quiz h1 {
  padding: 0.5rem 0.5rem 0.7rem;
  background-color: var(--main-color);
  border-radius: 50px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--white-color);
}
.quiz hr {
  margin: 1.7rem 0;
}
.quiz #question {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--black-color);
  margin-bottom: 1.7rem;
}
.quiz .btns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1.7rem), 1fr));
  grid-gap: 1.5rem;
}
.quiz .btns .btn {
  padding: 1rem;
  border-radius: 50px;
  background-color: var(--main-color);
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: var(--white-color);
  cursor: pointer;
}

.quiz #progress {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--black-color);
}
