@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

/* base rules: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-bg: #f1f5f8;
  --white-color: #fff;
  --black-color: #444;
  --main-color: #49a6e9;
  --paragraph-color: hsl(210, 22%, 49%);
  --transition: all 0.5s ease-in-out;
  --radius: 0.5rem;
  --line-height: 1.7rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
body {
  position: relative;
  min-height: 100vh;
  background-color: var(--body-bg);
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* container part: */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* main section: */
section {
  position: relative;
}
section .container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .main-box {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
}
section .main-box form {
  padding: 1rem;
  display: flex;
  align-items: center;
}
section .main-box form input {
  flex: 1;
  padding: 0.5rem;
  background-color: #eee;
  border: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--black-color);
}
section .main-box form input:focus {
  outline: none;
}
section .main-box form button {
  margin-left: 0.7rem;
  font-size: 1.5rem;
  color: var(--black-color);
  cursor: pointer;
}
section .main-box .fav-meals-box {
  padding: 0 1rem;
  background-color: #eef2ff;
}
section .main-box .fav-meals-box .fav-meals {
  padding-bottom: 1rem;
  display: flex;
  overflow-x: auto;
}
section .main-box .fav-meals-box h2 {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #222;
}
section .main-box .fav-meals-box .fav-meals .fav-meal {
  padding-top: 1rem;
  width: calc(25% - 12px);
}
section .main-box .fav-meals-box .fav-meals .fav-meal:not(:last-of-type) {
  margin-right: 15px;
}
section .main-box .fav-meals-box .fav-meals .fav-meal .abslt {
  position: relative;
}
section .main-box .fav-meals-box .fav-meals .fav-meal .abslt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
section .main-box .fav-meals-box .fav-meals .fav-meal .abslt .remove-fav-btn {
  position: absolute;
  top: 3px;
  right: -10px;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  color: var(--black-color);
  cursor: pointer;
  opacity: 0;
  transition: var(--transition);
}
section .main-box .fav-meals-box .fav-meals .fav-meal:hover .remove-fav-btn {
  opacity: 1;
}
section .main-box .fav-meals-box .fav-meals .fav-meal .meal-name {
  font-size: 0.9rem;
  color: var(--black-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section .main-box .random-meals .meal {
  padding: 1rem;
}
section .main-box .random-meals .meal .head {
  position: relative;
  display: flex;
}
section .main-box .random-meals .meal .head h3 {
  position: absolute;
  top: 1rem;
  left: 0;
  padding: 0.5rem;
  background-color: var(--white-color);
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--black-color);
  transition: var(--transition);
}
section .main-box .random-meals .meal .head:hover h3 {
  opacity: 0;
  visibility: hidden;
}
section .main-box .random-meals .meal .head .desc-btn {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
section .main-box .random-meals .meal .head:hover .desc-btn {
  opacity: 1;
  visibility: visible;
}
section .main-box .random-meals .meal .head .desc-btn button {
  padding: 0.75rem 1.75rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  background-color: var(--white-color);
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--black-color);
}
section .main-box .random-meals .meal .head img {
  width: 100%;
  height: 250px;
}
section .main-box .random-meals .meal .body {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
section .main-box .random-meals .meal .body .meal-name,
section .main-box .random-meals .meal .body .fav-icon {
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--black-color);
}
section .main-box .random-meals .meal .body .fav-icon {
  cursor: pointer;
}
section .main-box .random-meals .meal .body .fav-icon.active {
  color: purple;
}
section .main-box .random-meals .errorEl {
  padding: 1rem;
}
section .main-box .random-meals .errorEl p {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(255, 0, 0, 0.7);
}

/* popup: */
.popup {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.popup.show {
  opacity: 1;
  visibility: visible;
}
.popup .container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.popup .mealInfo {
  width: 500px;
  height: 90vh;
  overflow: auto;
  padding: 1rem;
  border-radius: var(--radius);
  background-color: var(--white-color);
  box-shadow: var(--light-shadow);
  transform: scale(0);
  transition: var(--transition);
}
.popup.show .mealInfo {
  transform: scale(1);
}
.popup .mealInfo .meal-name,
.popup .mealInfo .ingrdts h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--black-color);
  margin-bottom: 1rem;
}
.popup .mealInfo .img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.popup .mealInfo .desc {
  margin: 1rem 0;
  font-size: 0.9rem;
  line-height: var(--line-height);
  color: var(--black-color);
}
.popup .mealInfo .ingrdts h3 {
  font-size: 1rem;
}
.popup .mealInfo .ingrdts .ingrdts-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
}
.popup .mealInfo .ingrdts .ingrdts-list li {
  font-size: 0.9rem;
  line-height: var(--line-height);
  color: var(--black-color);
}
.popup #closePopup {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  color: var(--white-color);
}
